<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="Xposed Example"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:ignore="MissingApplicationIcon">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="io.github.libxposed.service.XposedProvider"
            android:authorities="${applicationId}.XposedService"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
    </application>
</manifest>
